@import url('https://fonts.googleapis.com/css?family=B612&display=swap');
@import url('https://fonts.googleapis.com/css?family=B612|Raleway:400,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    color:#656565;
    background-color: ##363535;
}

/*--Nav scrolling offset--*/
.offset:before {
    height: 4rem;
    content: "";
    display: block;
}
/*--Extra bootstarp column padding--*/
[class*="col-"] {
    padding: 1rem;
}